<div class="text-center space-y-3 text-sm">
  <%- if controller_name != 'sessions' %>
    <%= link_to "Log in", new_session_path(resource_name), class: "block text-mineral-blue hover:text-mineral-blue/80 font-medium" %>
  <% end %>

  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <p class="text-slate-mist">
      Don't have an account?
      <%= link_to "Sign up", new_registration_path(resource_name), class: "text-living-moss hover:text-living-moss/80 font-semibold" %>
    </p>
  <% end %>

  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <%= link_to "Forgot your password?", new_password_path(resource_name), class: "block text-mineral-blue hover:text-mineral-blue/80" %>
  <% end %>

  <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
    <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), class: "block text-mineral-blue hover:text-mineral-blue/80" %>
  <% end %>

  <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
    <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name), class: "block text-mineral-blue hover:text-mineral-blue/80" %>
  <% end %>

  <%- if devise_mapping.omniauthable? %>
    <%- resource_class.omniauth_providers.each do |provider| %>
      <%= button_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), data: { turbo: false }, class: "btn bg-white border-2 border-mineral-blue text-mineral-blue hover:bg-mineral-blue hover:text-white w-full" %>
    <% end %>
  <% end %>
</div>
